/* main.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap');

body {
    font-family: 'MuseoModerno', sans-serif;
    background: #1a202c; 
    color: #cbd5e0; 
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: relative;
    background: linear-gradient(to right, #667eea, #764ba2); 
    overflow: hidden;
    
}


nav::before,
nav::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px; /* Ancho y altura de las líneas */
    background: linear-gradient(to right, #30a9d4, #5a67d8, #ff4e50, #f9d423); 
    animation: neonEffect 40s linear infinite; 
}

nav::before {
    transform: skewX(-30deg);
}

nav::after {
    transform: skewX(30deg);
}




@media (max-width: 768px) {
    a.boton {
      padding: 8px 15px; 
      font-size: 14px; 
     
    }
  }
  

@keyframes neonEffect {
    0%, 100% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
}

nav a {
    color: #e2e8f0; 
    position: relative;
    z-index: 1;
}


/* nav bottons */


a.boton {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    
    background: linear-gradient(180deg, #65bce8 0%, #3e0157 100%);
   
    transition: background 0.3s;
  }
  
 
  a.boton:hover {
    /* Fondo degradado final */
    background-image: linear-gradient(to right, rgb(130, 204, 238), rgb(0, 139, 53));
  }
  
/* index text */
.custom-text-size {
    font-size: 30px;
    color: white;
    text-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.9), 
        -4px -4px 8px rgba(72, 0, 72, 0.5); 
}



/* stlye sign-up */

.container {
    position: relative; 
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    color: white;
    font-family: 'MuseoModerno', sans-serif;
    font-weight: 100;
}

.container::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctNzMnIGs0PScuMDEnIC8+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDMwMzFhJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjZmZmZmZmJyBmaWx0ZXI9J3VybCgjbiknIG9wYWNpdHk9JzEnLz4KPHJlY3QgeD0nLTElJyB5PSctMSUnIHdpZHRoPScxMDIlJyBoZWlnaHQ9JzEwMiUnIGZpbGw9JyMwMzAzMWEnIGZpbHRlcj0ndXJsKCNpKScgb3BhY2l0eT0nMScvPgo8L3N2Zz4=');
    opacity: 0.3; 
    z-index: -1; 
}

form {
    display: flex;
    flex-direction: column;
}

.mb-3 {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: bold;
    color: black;
    
}


input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #00ff6a;
}

/* Estilos para el botón de "Sign Up" */
button[type="submit"] {
    padding: 10px 20px;
    background-image: linear-gradient(to right, rgb(130, 204, 238), rgb(0, 139, 53));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-image 0.3s ease; 
}

/* Efecto al pasar el cursor sobre el botón */
button[type="submit"]:hover {
    background-image: linear-gradient(to right, #485dbd, rgb(105, 24, 129));
}


/* sing up botton */

.signup-button {
    padding: 10px 20px;
    background-image: linear-gradient(to right, rgb(65, 130, 160), rgb(2, 131, 51));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-image 0.9s ease; 
  }
  
  .signup-button:hover {
    background-image: linear-gradient(to right, rgb(65, 130, 160), #998f01, rgb(65, 11, 82));
  }
  





/* Estilos para el botón de eliminación personalizado */
.custom-delete-button-wrapper .custom-delete-button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos para el hover */
.custom-delete-button-wrapper .custom-delete-button:hover {
    background-image: linear-gradient(to right, #ff0000, #000000);
}

input[type="text"],
input[type="email"],
textarea {
    color: #000000; 
    background-color: #f3efef; 
    }


select {
        color: #ffffff; 
        background-color: #18142e; 
        }


        .bg-gray-semi-transparent {
            background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctNzMnIGs0PScuMDEnIC8+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDMwMzFhJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjZmZmZmZmJyBmaWx0ZXI9J3VybCgjbiknIG9wYWNpdHk9JzEnLz4KPHJlY3QgeD0nLTElJyB5PSctMSUnIHdpZHRoPScxMDIlJyBoZWlnaHQ9JzEwMiUnIGZpbGw9JyMwMzAzMWEnIGZpbHRlcj0ndXJsKCNpKScgb3BhY2l0eT0nMScvPgo8L3N2Zz4=')
            
        }

/* form create sales activity */

/* colour of the text inside Django-generated input fields */
#id_client,
#id_description,
#id_amount {
    color: rgb(21, 1, 58); 
    font-weight: bold;
}



.join-us-text {
    font-family: 'Arial', sans-serif; 
    font-size: 2rem; 
  }
  




/* generate invoice */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 8px;
}

select#id_client {
    background-color: #f2f2f2;
}


/* pdf style */

@media print {
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
}


.logo {
    margin-top: -14px; 
  }
  

footer {
    background: #2d3748; 
    color: #a0aec0; 
}

