{% extends 'core/base.html' %}

{% block title %}Leads {% endblock %}

{% block content %}
<div class="py-6 px-6">
<h1 class="mb-4 text-xl">Leads</h1>

<a href="{% url 'leads:add_lead' %}" class="inline-block px-4 bg-purple-600 rounded-md text-white">Add lead</a>

{% if object_list %}
<div class="mt-6 flex justify-between">
    <p class="py-4 px-2 bg-gray-800 font-semibold w-full">Name</p>
    <p class="py-4 px-2 bg-gray-800 font-semibold w-full"">Priority</p>
    <p class="py-4 px-2 bg-gray-800 font-semibold w-full"">Status</p>
</div>

{% for lead in object_list %}
<div class="mt-6 flex justify-between">
    <p class="py-2 w-full {% cycle 'bg-gray-700' '' %}">
       <a href="{% url 'leads:detail' lead.id %}"> {{ lead.name }}</a>
    </p>
    <p class="py-2 w-full {% cycle 'bg-gray-700' '' %}">{{ lead.get_priority_display }}</p>
    <p class="py-2 w-full {% cycle 'bg-gray-700' '' %}">{{ lead.get_status_display }}</p>
</div>

{% endfor %}
{% else %}
        <p class="mt-6 px-9">There are no leads in the database</p>
{% endif %}
</div>
{% endblock %}