{% extends 'core/base.html' %}

{% block title %}{{ lead.name }}{% endblock %}

{% block content %}
<div class=" container mx-auto rounded-lg shadow-md overflow-hidden">
    <div class="p-6">
        <h1 class="mb-4 text-2xl font-bold">{{ lead.name }}</h1>

        {% if lead.description %}
            <div class="mb-4">
                <p class="font-semibold">Description:</p>
                <p>{{ lead.description }}</p>
            </div>
        {% endif %}

        <div class="mb-4">
            <p class="font-semibold">Priority:</p>
            <p>{{ lead.get_priority_display }}</p>
        </div>

        <div class="mb-4">
            <p class="font-semibold">Status:</p>
            <p>{{ lead.get_status_display }}</p>
        </div>

        <div class="mb-4">
            <p class="font-semibold">Created at:</p>
            <p>{{ lead.created_at }}</p>
        </div>

        <div class="mb-7">
            <p class="font-semibold">Modified at:</p>
            <p>{{ lead.modified_at }}</p>
        </div>

        <hr class="my-4">

        <form id="lead_delete_form" method="post" action="{% url 'leads:delete' lead.id %}">
            {% csrf_token %}
            <div class="space-x-2">
                <a href="{% url 'leads:convert' lead.id %}" class="py-2 px-4 rounded-lg bg-purple-900 text-white">Convert to client</a>
                <a href="{% url 'leads:edit' lead.id %}" class="py-2 px-4 rounded-lg bg-purple-500 text-white">Edit</a>
                <a href="#" onclick="document.getElementById('lead_delete_form').submit();" class="py-2 px-4 rounded-lg bg-red-700 text-white">Delete</a>
            </div>
        </form>
    </div>

    <div class="p-6 rounded-b-lg">
        <h2 class="mb-6 text-xl font-bold">Comments</h2>

        <div class="space-y-4">
            {% for comment in lead.comments.all %}
                <div class="bg-red p-4 rounded-lg shadow-md">
                    <p><strong>{{ comment.created_by }}</strong> @ {{ comment.created_at }}</p>
                    <p class="comment-text">{{ comment.content }}</p>
                </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'leads:add_comment' lead.id %}" class="mt-6">
            {% csrf_token %}
            <p><input type="text" name="content" class="comment-input"></p>
            
            <button type="submit" class="block w-full py-2 px-4 mt-4 rounded-lg bg-purple-900 text-white">Submit</button>
        </form>
    </div>


<hr class="my-4">
<h2 class="mb-6 text-xl font-bold">Files</h2>

<div class="space-y-4">
    {% for file in lead.files.all %}
        <div class="bg-red p-4 rounded-lg shadow-md">
            <p><strong>{{ file.created_by }}</strong> @ {{ file.created_at }}</p>
            <a href="{{ file.file.url }}"> Download</a>
        </div>
    {% endfor %}
</div>

<form method="post" action="{% url 'leads:add_file' lead.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ fileform.as_p }}
    
    <button type="submit" class="block w-full py-2 px-4 mt-4 rounded-lg bg-purple-900 text-white">Submit</button>
</form>
</div>

<a href="{% url 'leads:list' %}" class="block text-blue-500 mt-4">Back to leads</a>



<br><br>
 <footer class="py-8 text-center bg-gray-800">
  <p class="text-xs text-gray-200">Copyright (c) 2024 StrHub CRM. All rights reserved.</p>
  <p class="text-xs text-gray-200">Unlocking Your Business Potential | Obtain a Quick Overview of the Status of Every Negotiation | Up to 10 leads with the basic plan</p>
  <p class="text-xs text-gray-200">Leads: Create, edit, and track lead information. Convert leads to clients seamlessly. Add images and comments.</p>
  <p class="text-xs text-gray-200">Clients: Display, add, edit, and delete client information. Implement solutions tailored for teams.</p>
  <p class="text-xs text-gray-200">Features: Latest clients and leads on our dashboard. Create Sales Activity. Graph sales activities. Create PDF invoices from a form.</p>
  <p class="text-xs text-gray-200">Contact us at imcorreamauricio@gmail.com | Follow us on Twitter, Facebook, and LinkedIn</p>
</footer>

{% endblock %}