{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="container mx-auto rounded-lg shadow-md overflow-hidden">
    <div class="p-6">
        
        <h1 class="mb-4 text-2xl font-bold">{{ title }}</h1>

        {% if team.plan.max_leads > team.leads.count or title == 'Edit lead' %}
            <form method="post" action=".">
                {% csrf_token %}

                <div class="mb-4">
                    <label for="{{ form.name.id_for_label }}" class="font-semibold">Name:</label>
                    {{ form.name }}
                </div>
                
                <div class="mb-4">
                    <label for="{{ form.email.id_for_label }}" class="font-semibold">Email:</label>
                    {{ form.email }}
                </div>
                    <br>
                    <div class="mb-4">
                        <label for="{{ form.description.id_for_label }}" class="font-semibold">Description:</label>
                        {{ form.description }}
                    </div>
                    
                
                <div class="mb-4">
                    <label for="{{ form.priority.id_for_label }}" class="font-semibold">Priority:</label>
                    {{ form.priority }}
                </div>
                
                <div class="mb-4">
                    <label for="{{ form.status.id_for_label }}" class="font-semibold">Status:</label>
                    {{ form.status }}
                </div>
          

                <button type="submit" class="py-2 px-4 bg-purple-600 rounded-md text-white">Submit</button>

            </form>

            <div class="space-x-2">
                <a href="{% url 'leads:list' %}" class="block text-blue-500 mt-4">Back to leads</a>
            </div>
        {% else %}
            <div class="mt-6 px-6 py-4 bg-red-500 rounded-xl text-white">
                Your team has reached the maximum number of leads. Your owner must upgrade your plan.
            </div>
        {% endif %}
    </div>
</div>
<br><br>
<footer class="py-8 text-center bg-gray-800">
<p class="text-xs text-gray-200">Copyright (c) 2024 StrHub CRM. All rights reserved.</p>
<p class="text-xs text-gray-200">Unlocking Your Business Potential | Obtain a Quick Overview of the Status of Every Negotiation | Up to 10 leads with the basic plan</p>
<p class="text-xs text-gray-200">Leads: Create, edit, and track lead information. Convert leads to clients seamlessly. Add images and comments.</p>
<p class="text-xs text-gray-200">Clients: Display, add, edit, and delete client information. Implement solutions tailored for teams.</p>
<p class="text-xs text-gray-200">Features: Latest clients and leads on our dashboard. Create Sales Activity. Graph sales activities. Create PDF invoices from a form.</p>
<p class="text-xs text-gray-200">Contact us at imcorreamauricio@gmail.com | Follow us on Twitter, Facebook, and LinkedIn</p>
</footer>

{% endblock %}
