{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mx-auto rounded-lg shadow-md overflow-hidden">
    <div class="p-6">
        <h1 class="mb-4 text-2xl font-bold">{{ title }}</h1>

        {% if team.plan.max_leads > team.leads.count or title == 'Edit lead' %}
            <form method="post" action=".">
                {% csrf_token %}

                <!-- Campo de nombre -->
                <div class="mb-4">
                    <label for="{{ form.name.id_for_label }}" class="font-semibold">Name:</label>
                    {{ form.name }}
                </div>

                <!-- Campo de correo electrónico -->
                <div class="mb-4">
                    <label for="{{ form.email.id_for_label }}" class="font-semibold">Email:</label>
                    {{ form.email }}
                </div>

                <!-- Campo de descripción -->
                <div class="mb-4">
                    <label for="{{ form.description.id_for_label }}" class="font-semibold">Description:</label>
                    {{ form.description }}
                </div>

                <button class="py-2 px-4 bg-purple-600 rounded-md text-white">Submit</button>
            </form>

            <div class="space-x-2">
                <a href="{% url 'leads:list' %}" class="block text-blue-500 mt-4">Back to leads</a>
            </div>
        {% else %}
            <div class="mt-6 px-6 py-4 bg-red-500 rounded-xl text-white">
                Your team has reached the maximum number of leads. Your owner must upgrade your plan.
            </div>
        {% endif %}
    </div>
</div>
    <footer class="py-8 text-center bg-gray-800">
        <p class="text-xs text-white">Copyright (c) 2024</p>
    </footer>

{% endblock %}
