{% extends 'core/base.html' %}

{% block title %} Log in{% endblock %}


{% block content %}
<div class="container">
    <h1 class="mb-6 text-3xl font-bold">Login</h1>
    <form method="post" action=".">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" name="username">
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            <input type="password" name="password">
        </div>
        <button type="submit">Sign Up</button>
    </form>
</div>

{% endblock %}
