{% extends 'core/base.html' %}

{% load static %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}

{% block title %} Sign up {% endblock %}

{% block content %}
<div class="body-signup">

    {% if form.errors %}
        <div class="max-w-md mx-auto mt-4">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div class="bg-red-500 text-white font-bold rounded-md p-1 mb-2 text-sm">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container mt-5 mb-5"> 
        <h1 class="mb-6 text-3xl font-bold">Sign Up</h1>
        <small class="mb-10">Registration</small>
        
        <form method="post" action=".">
            {% csrf_token %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="mb-2">
                    <label for="id_username" class="form-label" style="color: white; width: 100px;">Username</label>
                    <input type="text" id="id_username" name="username" class="form-input w-1/2 h-10">
                </div>
                <div class="mb-2">
                    <label for="id_email" class="form-label" style="color: white; width: 100px;">Email</label>
                    <input type="email" id="id_email" name="email" class="form-input w-1/2 h-10">
                </div>
                
                
                <div class="mb-2">
                    <label for="id_password1" class="form-label" style="color: white;">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="mb-2">
                    <label for="id_password2" class="form-label" style="color: white;">Confirm Password</label>
                    {{ form.password2 }}
                </div>
                <div class="mb-2">
                    <label for="id_plan" class="form-label" style="color: white;">Plan</label>
                    <select name="plan" id="id_plan" class="form-select">
                        <option value="" selected disabled>Select a plan</option>
                        {% for plan in form.plan.field.choices %}
                            <option value="{{ plan.0 }}">{{ plan.1 }}</option>
                            <option value="{{ plan.1 }}">{{ plan.0 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
    
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <p class="text-white mt-2"><small>Have an account? <a href="{% url 'login' %}" class="text-blue-400 hover:underline">Log-in here</small></a>.</p>
    </div>
</div>
    <br>
       <br>

       <footer class="py-8 text-center bg-gray-800">
        <p class="text-xs text-gray-200">Copyright (c) 2024 StrHub CRM. All rights reserved.</p>
        <p class="text-xs text-gray-200">Unlocking Your Business Potential | Obtain a Quick Overview of the Status of Every Negotiation | Up to 10 leads with the basic plan</p>
        <p class="text-xs text-gray-200">Leads: Create, edit, and track lead information. Convert leads to clients seamlessly. Add images and comments.</p>
        <p class="text-xs text-gray-200">Clients: Display, add, edit, and delete client information. Implement solutions tailored for teams.</p>
        <p class="text-xs text-gray-200">Features: Latest clients and leads on our dashboard. Create Sales Activity. Graph sales activities. Create PDF invoices from a form.</p>
        <p class="text-xs text-gray-200">Contact us at imcorreamauricio@gmail.com | Follow us on Twitter, Facebook, and LinkedIn</p>
      </footer>
{% endblock %}
