{% extends 'core/base.html' %}

{% load static %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}

{% block title %} Sign up {% endblock %}

{% block content %}
<div class="body-signup">
    <div class="container mt-5 mb-5"> 
        <h1 class="mb-6 text-3xl font-bold">Sign Up</h1>
        <form method="post" action=".">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                {{ form.username }}
            </div>
         
            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <label for="id_password1" class="form-label">Password</label>
                {{ form.password1 }}
            </div>
            <div class="mb-3">
                <label for="id_password2" class="form-label">Confirm Password</label>
                {{ form.password2 }}
            </div>

            <div class="mb-3">
                <label for="id_plan" class="form-label">Free Plan</label>
                {% for plan in form.plan %}
                <div class="flex items-center">
                    <input type="radio" name="{{ form.plan.html_name }}" id="{{ plan.id_for_label }}" value="{{ plan.choice_value }}" class="bg-gray-100 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-purple-500 focus:ring-purple-500">
                    <label for="{{ plan.id_for_label }}" class="ml-2 text-gray-700">{{ plan.instance.get_plan_display }}</label>
                </div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
    <br>
       <br>
{% endblock %}
