{% extends 'core/base.html' %}

{% block title %} About - StarHub CRM {% endblock %}

{% block content %}

<main class="container mx-auto py-10">
    <section class="bg-gradient-to-r from-blue-800 via-purple-400 to-indigo-950 shadow-lg rounded mb-10">
      <div class="p-4">
        <h2 class="font-bold text-white-400 mb-2 text-center custom-text-size">Your Partner in Success: StarHub CRM</h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div class="bg-gray-900 p-4 rounded relative"> 
            <h3 class="font-bold text-gray-200 mb-2">About Us</h3> 
            <p class="text-gray-300">
              Welcome to StarHub CRM, where we help unlock your business potential. We are committed to providing effective and personalized solutions for lead and client management, as well as intuitive tools to drive your sales activities. With our platform, you can easily and comprehensively track your leads, seamlessly convert them into clients, and efficiently manage your client base.
            </p>
          </div>
          <div class="bg-gray-900 p-4 rounded relative"> 
            <h3 class="font-bold text-gray-200 mb-2">Our Commitment</h3> 
            <p class="text-gray-300">
              At StarHub CRM, we strive to offer you the necessary tools to optimize your business operations. From creating and editing lead information to generating PDF invoices, our platform is designed to streamline your processes and maximize your productivity. We are committed to providing you with the latest features and innovative functionalities to help you maintain a competitive edge in your market.
            </p>
          </div>
          <div class="bg-gray-900 p-4 rounded relative"> 
            <h3 class="font-bold text-gray-200 mb-2">Our Mission</h3> 
            <p class="text-gray-300">
              Our mission is to provide you with a comprehensive and user-friendly solution that enables you to manage your leads, clients, and sales activities effectively. We believe in the importance of customization and adaptability, so we constantly work to offer you solutions that fit the specific needs of your team and your business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<br><br>
<footer class="py-8 text-center bg-gray-800">
<p class="text-xs text-gray-200">Copyright (c) 2024 StrHub CRM. All rights reserved.</p>
<p class="text-xs text-gray-200">Unlocking Your Business Potential | Obtain a Quick Overview of the Status of Every Negotiation | Up to 10 leads with the basic plan</p>
<p class="text-xs text-gray-200">Leads: Create, edit, and track lead information. Convert leads to clients seamlessly. Add images and comments.</p>
<p class="text-xs text-gray-200">Clients: Display, add, edit, and delete client information. Implement solutions tailored for teams.</p>
<p class="text-xs text-gray-200">Features: Latest clients and leads on our dashboard. Create Sales Activity. Graph sales activities. Create PDF invoices from a form.</p>
<p class="text-xs text-gray-200">Contact us at imcorreamauricio@gmail.com | Follow us on Twitter, Facebook, and LinkedIn</p>
</footer>
{% endblock %}