{% extends 'core/base.html' %}

{% block title %} StarHub CRM {% endblock %}

{% block content %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StarHub CRM</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  
      <ul class="flex flex-row ml-auto">
       
  </header>

  <main class="container mx-auto py-10">
    <section class="bg-gradient-to-r from-blue-800 via-purple-400 to-indigo-950 shadow-lg rounded mb-10">
      <div class="p-4">
        <h2 class="font-bold text-white-400 mb-12 text-center custom-text-size">Unlocking Your Business Potential</h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div class="bg-gray-900 p-4 rounded relative"> 
            <h3 class="font-bold text-gray-200 mb-2">Leads</h3> 
            <p class="text-gray-300">Leads tracking</p> 
            <h1 class="text-2xl  text-gray-100">10</h1> 
          </div>
          <div class="bg-gray-900 p-4 rounded relative"> 
            <h3 class="font-bold text-gray-200 mb-2">Clients</h3> 
            <p class="text-gray-300">Comments your clients</p> 
            <h4 class="text-2xl  text-gray-100">10</h4> 
          </div>
          <div class="bg-gray-900 p-4 rounded relative"> 
            <h3 class="font-bold text-gray-200 mb-2">Clients tracking</h3> 
            <p class="text-gray-300">Export information</p> 
            <h4 class="text-2xl  text-gray-100">use plans</h4> 
          </div>
        </div>
    </main>

    <footer class="py-8 text-center bg-gray-800" style="position: absolute; bottom: 0; width: 100%;">
        <p class="text-xs text-gray-200">Copyright (c) 2024</p> 
    </footer>
    
{% endblock %}

    

