{% extends 'core/base.html' %}

{% block title %}Edit  {{ client.name }}{% endblock %}

{% block content %}
<div class="container mx-auto mt-6">
    <div class="w-full mx-auto bg-gray-semi-transparent bg-opacity-75 rounded-lg overflow-hidden shadow-md">
        <div class="p-8"> <!-- Aumentado el padding -->
            <h1 class="mb-4 text-2xl font-bold">Edit Client {{ client.name }}</h1>

            <form method="post" action=".">
                {% csrf_token %}

                <div class="mb-4">
                    <label for="{{ form.name.id_for_label }}" class="block text-white font-semibold mb-2">Name:</label>
                    {{ form.name }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.email.id_for_label }}" class="block text-white font-semibold mb-2">Email:</label>
                    {{ form.email }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.description.id_for_label }}" class="block text-white font-semibold mb-2">Description:</label>
                    {{ form.description }}
                </div>

                <button type="submit" class="py-2 px-4 bg-purple-600 rounded-md text-white hover:bg-purple-700">Submit</button>

            </form>

            <hr class="my-4">

            <div class="text-center">
                <a href="{% url 'clients:list' %}" class="text-blue-500 mt-4">Back to clients</a>
            </div>
        </div>
    </div>
</div>

<br><br>
<footer class="py-8  mt-11 text-center bg-gray-800">
<p class="text-xs text-gray-200">Copyright (c) 2024 StrHub CRM. All rights reserved.</p>
<p class="text-xs text-gray-200">Unlocking Your Business Potential | Obtain a Quick Overview of the Status of Every Negotiation | Up to 10 leads with the basic plan</p>
<p class="text-xs text-gray-200">Leads: Create, edit, and track lead information. Convert leads to clients seamlessly. Add images and comments.</p>
<p class="text-xs text-gray-200">Clients: Display, add, edit, and delete client information. Implement solutions tailored for teams.</p>
<p class="text-xs text-gray-200">Features: Latest clients and leads on our dashboard. Create Sales Activity. Graph sales activities. Create PDF invoices from a form.</p>
<p class="text-xs text-gray-200">Contact us at imcorreamauricio@gmail.com | Follow us on Twitter, Facebook, and LinkedIn</p>
</footer>

{% endblock %}
